/* fav-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fav-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.fav-table th,
.fav-table td {
  padding: 12px 15px;
}

.fav-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.fav-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.fav-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.fav-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

/* .fav-table {
  max-height: 100vh;
  min-width: 16rem;
  overflow-y: auto;
} */

td {
  height: 1rem;
}

tr {
  height: 1.5rem;
}
